[submodule "core/3rd/spdlog"]
	path = core/3rd/spdlog
	url = https://github.com/gabime/spdlog
[submodule "core/3rd/pybind11"]
	path = core/3rd/pybind11
	url = https://github.com/pybind/pybind11
[submodule "core/3rd/nlohmann"]
	path = core/3rd/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "core/3rd/websocketpp"]
	path = core/3rd/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "core/3rd/CLI11"]
	path = core/3rd/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "core/3rd/cpp-httplib"]
	path = core/3rd/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
